manifest {
  author = 'Andrew Lindsay'
  description = 'Raw Read QC'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.0.1'
}

plugins {
  id 'nf-boost'
}

boost {
  cleanup = true
}

params {
  
  // Input options
  sheet = null
  outdir = null
  label = null

  hostile_index_long = "$baseDir/assets/human-t2t-hla.fa.gz"
  hostile_index_short = "$baseDir/assets/human-t2t-hla"

  // Boilerplate options
  tracedir                   = "${params.outdir}/pipeline_info"
  publish_dir_mode           = 'copy'
  email                      = null
  email_on_fail              = null
  plaintext_email            = false
  monochrome_logs            = false
  hook_url                   = null
  help                       = false
  version                    = false
  validate_params            = true
  schema_ignore_params       = 'nanopore_search_path,illumina_search_path,label,fastq_exts,nanopore_suffixes,illumina_suffixes,multiqc_custom_config'

}

profiles {
  conda {
    conda.enabled          = true
    //process.conda = "$baseDir/environments/environment.yml"
    //if (params.cache){
    // conda.cacheDir = params.cache
    //}
  }
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}