/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
    
    withName: SAVE_TO_CSV{
        publishDir = [
            path: { "${params.outdir}/${params.label}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.replace(".new","")},
            pattern: "*.csv"
        ]
    }

    withName: DEHOST_HOSTILE {
        publishDir = [
            path: { "${params.outdir}/${params.label}/fastq" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename}
        ]
    }

    withName: TRIM_CHOPPER {
        ext.prefix = { "${meta.id}.chopper" }
        publishDir = [
            enabled: false
        ]
    }

    withName: TRIM_PORECHOP {
        ext.prefix = { "${meta.id}.porechop" }
        publishDir = [
            enabled: false
        ]
    }

    withName: TRIM_BBDUK {
        ext.prefix = { "${meta.id}.bbduk" }
        publishDir = [
            enabled: false
        ]
    }
}   